.login {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logincard {
	overflow: hidden;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	border: 1px solid #000;
	border-radius: 25px 20px;
	padding: 30px;
}
.login::-webkit-scrollbar {
	overflow: hidden;
}
.logincard h2 {
	position: relative;
	text-align: center;
	font-weight: 600;
	margin-bottom: 20px;
}
.logincard h2::after {
	content: ' ';
	width: 30px;
	height: 3px;
	background: #000;
	border-radius: 50px;
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
}
.logincard_inputfield {
	display: flex;
	flex-direction: column;
	gap: 3px;
	margin-bottom: 15px;
}
.logincard_inputfield label {
	font-size: 15px;
}
.logincard_inputfield input {
	outline: none;
	padding: 10px;
	font-size: 13px;
	border-radius: 5px;
	border: 1px solid #000;
	color: #000;
}
.logincard .btn {
	padding: 12px;
	margin: 20px 0 10px;
	background: black;
	color: white;
	font-size: 15px;
	outline: none;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	width: 100%;
}
.logincard p {
	font-size: 14px;
	text-align: center;
}
.logincard p > span {
	color: blue;
	cursor: pointer;
}
